<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.paishop.dao.ProductMapper" >
  <resultMap id="BaseResultMap" type="com.paishop.entity.Product" >
    <id column="p_id" property="pId" jdbcType="INTEGER" />
    <result column="s_id" property="sId" jdbcType="INTEGER" />
    <result column="p_name" property="pName" jdbcType="VARCHAR" />
    <result column="p_num" property="pNum" jdbcType="INTEGER" />
    <result column="p_market_price" property="pMarketPrice" jdbcType="REAL" />
    <result column="p_sale_price" property="pSalePrice" jdbcType="REAL" />
    <result column="media_main" property="mediaMain" jdbcType="VARCHAR" />
    <result column="media_detail" property="mediaDetail" jdbcType="VARCHAR" />
    <result column="p_desc" property="pDesc" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="sale_time" property="saleTime" jdbcType="TIMESTAMP" />
    <result column="sale_num" property="saleNum" jdbcType="INTEGER" />
    <result column="create_tim" property="createTim" jdbcType="TIMESTAMP" />
    <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP" />
    <association property="auction" javaType="com.paishop.entity.Auction">
       <id column="id" property="id" jdbcType="INTEGER" />
       <result column="u_id" property="uId" jdbcType="INTEGER" />
       <result column="aution_pv" property="autionPv" jdbcType="INTEGER" />
       <result column="auction_price" property="auctionPrice" jdbcType="REAL" />
       <result column="auction_name" property="auctionName" jdbcType="VARCHAR" />
       <result column="status" property="status" jdbcType="INTEGER" />
       <result column="auction_time" property="auctionTime" jdbcType="TIMESTAMP" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    p_id, s_id, p_name, p_num, p_market_price, p_sale_price, media_main, media_detail, 
    p_desc, status, sale_time, sale_num, create_tim, modify_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select  p.*, a.id, a.u_id, a.aution_pv, a.auction_price, a.auction_name, a.status,a.auction_time
    from t_product p, t_auction a
    where p.p_id=a.p_id and p.p_id = #{pId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_product
    where p_id = #{pId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.paishop.entity.Product" >
    insert into t_product (p_id, s_id, p_name, 
      p_num, p_market_price, p_sale_price, 
      media_main, media_detail, p_desc, 
      status, sale_time, sale_num, 
      create_tim, modify_time)
    values (#{pId,jdbcType=INTEGER}, #{sId,jdbcType=INTEGER}, #{pName,jdbcType=VARCHAR}, 
      #{pNum,jdbcType=INTEGER}, #{pMarketPrice,jdbcType=REAL}, #{pSalePrice,jdbcType=REAL}, 
      #{mediaMain,jdbcType=VARCHAR}, #{mediaDetail,jdbcType=VARCHAR}, #{pDesc,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{saleTime,jdbcType=TIMESTAMP}, #{saleNum,jdbcType=INTEGER}, 
      #{createTim,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.paishop.entity.Product" >
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        p_id,
      </if>
      <if test="sId != null" >
        s_id,
      </if>
      <if test="pName != null" >
        p_name,
      </if>
      <if test="pNum != null" >
        p_num,
      </if>
      <if test="pMarketPrice != null" >
        p_market_price,
      </if>
      <if test="pSalePrice != null" >
        p_sale_price,
      </if>
      <if test="mediaMain != null" >
        media_main,
      </if>
      <if test="mediaDetail != null" >
        media_detail,
      </if>
      <if test="pDesc != null" >
        p_desc,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="saleTime != null" >
        sale_time,
      </if>
      <if test="saleNum != null" >
        sale_num,
      </if>
      <if test="createTim != null" >
        create_tim,
      </if>
      <if test="modifyTime != null" >
        modify_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pId != null" >
        #{pId,jdbcType=INTEGER},
      </if>
      <if test="sId != null" >
        #{sId,jdbcType=INTEGER},
      </if>
      <if test="pName != null" >
        #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pNum != null" >
        #{pNum,jdbcType=INTEGER},
      </if>
      <if test="pMarketPrice != null" >
        #{pMarketPrice,jdbcType=REAL},
      </if>
      <if test="pSalePrice != null" >
        #{pSalePrice,jdbcType=REAL},
      </if>
      <if test="mediaMain != null" >
        #{mediaMain,jdbcType=VARCHAR},
      </if>
      <if test="mediaDetail != null" >
        #{mediaDetail,jdbcType=VARCHAR},
      </if>
      <if test="pDesc != null" >
        #{pDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="saleTime != null" >
        #{saleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="saleNum != null" >
        #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="createTim != null" >
        #{createTim,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.paishop.entity.Product" >
    update t_product
    <set >
      <if test="sId != null" >
        s_id = #{sId,jdbcType=INTEGER},
      </if>
      <if test="pName != null" >
        p_name = #{pName,jdbcType=VARCHAR},
      </if>
      <if test="pNum != null" >
        p_num = #{pNum,jdbcType=INTEGER},
      </if>
      <if test="pMarketPrice != null" >
        p_market_price = #{pMarketPrice,jdbcType=REAL},
      </if>
      <if test="pSalePrice != null" >
        p_sale_price = #{pSalePrice,jdbcType=REAL},
      </if>
      <if test="mediaMain != null" >
        media_main = #{mediaMain,jdbcType=VARCHAR},
      </if>
      <if test="mediaDetail != null" >
        media_detail = #{mediaDetail,jdbcType=VARCHAR},
      </if>
      <if test="pDesc != null" >
        p_desc = #{pDesc,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="saleTime != null" >
        sale_time = #{saleTime,jdbcType=TIMESTAMP},
      </if>
      <if test="saleNum != null" >
        sale_num = #{saleNum,jdbcType=INTEGER},
      </if>
      <if test="createTim != null" >
        create_tim = #{createTim,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null" >
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.paishop.entity.Product" >
    update t_product
    set s_id = #{sId,jdbcType=INTEGER},
      p_name = #{pName,jdbcType=VARCHAR},
      p_num = #{pNum,jdbcType=INTEGER},
      p_market_price = #{pMarketPrice,jdbcType=REAL},
      p_sale_price = #{pSalePrice,jdbcType=REAL},
      media_main = #{mediaMain,jdbcType=VARCHAR},
      media_detail = #{mediaDetail,jdbcType=VARCHAR},
      p_desc = #{pDesc,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      sale_time = #{saleTime,jdbcType=TIMESTAMP},
      sale_num = #{saleNum,jdbcType=INTEGER},
      create_tim = #{createTim,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP}
    where p_id = #{pId,jdbcType=INTEGER}
  </update>
</mapper>